

*.amx

/pawno/libpawnc.dll
/pawno/pawn.ico
/pawno/pawnc.dll
/pawno/pawncc.exe
/pawno/pawno.exe
/pawno/settings.ini
/pawno/include/_disabled

/scriptfiles
/include
/npcmodes

announce.exe
samp-license.txt
samp-npc.exe
samp-server.exe
server-readme.txt
